---
import Image from "astro/components/Image.astro";

const { image, alt } = Astro.props;
---

<section>
  <Image src={image} alt={alt} width={1920} loading="eager" height={549} class="mx-auto" />
</section>
